<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Colors</key>
		<string>spanish-colors</string>
	</dict>
	<dict>
		<key>Verbs 1</key>
		<string>spanish-verbs-1</string>
	</dict>
	<dict>
		<key>Nouns 1</key>
		<string>spanish-nouns-1</string>
	</dict>
	<dict>
		<key>Verbs 2</key>
		<string>spanish-verbs-2</string>
	</dict>
</array>
</plist>
