<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>to be</key>
	<string>ser</string>
	<key>to believe</key>
	<string>creer</string>
	<key>to bring</key>
	<string>traer</string>
	<key>to clean</key>
	<string>limpiar</string>
	<key>to come</key>
	<string>venir</string>
	<key>to dance</key>
	<string>bailar</string>
	<key>to do</key>
	<string>hacer</string>
	<key>to dress</key>
	<string>vestir</string>
	<key>to drink</key>
	<string>beber</string>
	<key>to eat</key>
	<string>comer</string>
	<key>to find</key>
	<string>encontrar</string>
	<key>to go</key>
	<string>ir</string>
	<key>to have</key>
	<string>tener</string>
	<key>to know</key>
	<string>saber</string>
	<key>to learn</key>
	<string>aprender</string>
</dict>
</plist>
